body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eef9bf;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 47px;
}
.titulo h1{
 color: #75B79E;
}
.papagaio{
    width: 117px;
    height: 146px;
    margin: 41px;

    border-radius: 5px;
    border-width: 1px;
    border-color: #99CEA8;
    background-color: #A7E9AF;
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.papagaio img{
    height: 100px;
    width: 100px;
}
ul{
    width: 800px;
    transition: all 0.05s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.verso {
}
.azul {
    background-color: blue;
}
.rosa {
    background-color: plum;
}
.frente {
    background-color: #A7E9AF;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
 ul {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
}