body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.all {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    width: 375px;
    background-color: #f3f3f3;
    height: 685px;
}

.topbar {
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 80px;
    width: 375px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -20px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.topbar ion-icon {
    position: absolute;
    height: 42px;
    width: 42px;
    right: 22px;
    bottom: 24px;
}

.topbar img {
    left: 22px;
    bottom: 11px;
    position: absolute;
    height: 53px;
    width: 75px;
}

.chat {
    width: 375px;
    max-width: 376px;
    background-color: #f3f3f3;
    overflow-y: scroll;
    overflow-wrap: break-word;
    position: relative;
    margin-bottom: 120px;
}

.listachat {
    overflow-x: hidden;
    overflow-y: scroll;
    width: auto;
    height: 650px;
    margin-top: 26px;
    margin-bottom: 80px;
}

.listachat li {
    background-color: #FFFFFF;
}

.listachat li div {
    min-height: 40px;
    margin-bottom: 4px;

    display: flex;
    position: relative;
    overflow-wrap: break-word;
    justify-content: left;
    align-items: center;
    word-break: break-all;
}
.chatbar {
    font-style: italic;
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 375px;
    border-style: none;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 7px -10px, rgba(0, 0, 0, 0.3) 0px -3px 7px -3px;
}

.chatinput {
    font-style: italic;
    height: 80px;
    width: 290px;
    border-style: none;
}

.chatinput:focus {
    font-style: normal;
    bottom: 2px;
    outline-style: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DCDCDC;
}

.chatbar ion-icon {
    height: 26px;
    width: 26px;
    position: absolute;
    right: 27px;
    bottom: 27px;
}

.text {
    margin-left: 8px;
}
.status {
    background-color: #DCDCDC;
}